{
  "extends": "@1stg/eslint-config/loose",
  "rules": {
    "@angular-eslint/component-selector": [
      "error",
      {
        "type": "element",
        "prefix": "ng",
        "style": "kebab-case"
      }
    ],
    "@angular-eslint/directive-selector": [
      "error",
      {
        "type": "attribute",
        "prefix": "ng",
        "style": "camelCase"
      }
    ],
    "markup/markup": "off",
    "unicorn/prefer-event-target": "off"
  }
}
